<form (submit)="onSubmit(form)" #form="ngForm">

  <div class="form-group">
    <label for="name">
      <b>Name</b>
    </label>
    <input id="name" type="text" class="form-control" placeholder="" name="name" required [(ngModel)]="plan.name" />
  </div>

  <div class="form-group">
    <label for="description">
      <b>Description</b>
    </label>
    <input id="description" type="text" class="form-control" placeholder="" name="description" required [(ngModel)]="plan.description"
    />
  </div>

  <div class="form-group">
    <label for="date">
      <b>Date</b>
    </label>
    <input id="date" type="text" class="form-control" placeholder="" name="date" required [(ngModel)]="plan.date" />
  </div>

  <div class="form-group">
    <label for="location">
      <b>Location</b>
    </label>
    <input id="location" type="text" class="form-control" placeholder="" name="location" required [(ngModel)]="plan.location"
    />
  </div>

  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid">Add Plan</button>
    </div>
  </div>
</form>